body {
    overflow: hidden;
    -webkit-user-select: none;
    margin:0px;
}
button, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

#extensionControls button {
    margin:2px;
    padding-left:4px;
    padding-right:4px;
}
.halo {
    padding:4px;
    opacity: 0.75;
}
.controls {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
#views {
    position: absolute;
    top:30px;
    left:0px;
    right:0px;
    bottom:0px;
}

#debugButtons {
    position:absolute;
    right:16px;
    bottom:16px;
}
#messageOverlay {
    position:absolute;
    left:16px;
    top:76px;
    width: auto;
    height: auto;
}
#messageOverlay > p {
    margin: 4px;
}

#examplesView #examplesButtons {
    display:inline-block;
    width:180px;
}
#examplesView #examplesUrl {
    display: inline-block;
    width: calc(100% - 220px);
}
#examplesView iframe {
    position:absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    background-color: #fff;
}

#dataPreview {
    overflow: auto;
}

#domPreview #domPreviewContent {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
#domPreview iframe {
    width: 100%;
    height:100%;
    border: none;
}
#domPreview #zoomButtons {
    position:absolute;
    right:16px;
    bottom:16px;
    padding:4px;
}
textarea {
    position: absolute;
    top:30px;
    left:0px;
    right:0px;
    bottom:0px;
    font-family: Consolas, monospace;
    border: none;
    resize: none;
}