body {
    overflow: hidden;
}
#tabControls {
    position:absolute;
    left:0px;
    top:0px;
    height:30px;
    padding-right:16px;
    padding-left:8px;
}
#tabControls button {
    padding-top:6px;
    background-color: transparent !important;
}
#tabControls button.active {
    color:#fff;
}

#debugButtons {
    position:absolute;
    left:51%;
    bottom:16px;
    padding:4px;
    background-color: rgba(255,255,255,0.75);
}

#panels {
    position:absolute;
    left:0px;
    top:30px;
    right:51%;
    bottom:0px;
}

#panels div {
    position:absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

textarea {
    font-family: 'Consolas', monospace;
    font-size: 9pt;
    text-align: left;
}

#codePanel textarea, #cssPanel textarea, #dataPanel textarea {
    position: absolute;
    left:0px;
    top:30px;
    right:0px;
    bottom:0px;
}
#cssPanel textarea {
    top:0px;
}

#codePanel span, #dataPanel span {
    position:absolute;
    padding:4px;
    top:0px;
    left:0px;
    right:0px;
}

#selectionPreview {
    padding: 16px;
    overflow: scroll;
    border-spacing:2px;
}

#selectionPreview td {
    padding: 4px;
    background-color: #fff;
}

#dom {
    position:absolute;
    left:51%;
    right:0px;
    top:0px;
    bottom:0px;
    overflow:auto;
    padding:60px;
}
#dom svg {
    zoom : 100%;
}

#dom .artboard {
    fill:#ffffff !important;
    stroke-width:1px !important;
    stroke:#000000 !important;
}

#dom path.selection {
    fill: none;
    stroke:rgb(98,131,255);
    stroke-width: 5px;
}

#zoomButtons {
    position:absolute;
    right:16px;
    bottom:16px;
    padding:4px;
}
button, select {
    border: none;
}