#editor {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.left {
    float:left;
    left:0px;
    top:0px;
}
.right {
    float:right;
    right:0px;
    top:0px;
}
#connectedLabelsLabel {
    position:absolute;
    left: 0px;
    width: 75px;
    top: 0px;
    bottom: 0px;
}
#connectedLabelsList {
    position:absolute;
    border: 1px solid black;
    left: 75px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.25);
    overflow-y:scroll;
}