.left {
    position:absolute;
    left:0px;
    top:0px;
    padding:4px;
}
.right {
    position:absolute;
    right:0px;
    top:0px;
    padding:4px;
}
#topBar {
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    height:30px;
}
textarea {
    position: absolute;
    left:2px;
    right:2px;
    top:30px;
    bottom:30px;
    font-family:"Consolas", monospace;
    font-size:9pt;
    border: 1px solid black;
}
#bottomBar {
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:30px;
}
img {
    padding: 4px;
    vertical-align: middle;
}