svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  stroke: #ddd;
    fill: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  opacity: .125;
  stroke: #fff;
}