body {
    margin: 5px;
    -webkit-user-select: none;
}
div, span, a, p, button, select, option, input {
    font-family: inherit;
    font-size: inherit;
}
hr {
    border:1px solid;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
}
img {
    vertical-align: middle;
}
select {
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:6px;
    padding-right:6px;
    border: 1px solid black;
}
.selectArrow {
    -webkit-transform: translateX(-1px);
    border: 1px solid black;
    vertical-align: top;
}

a.button {
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    border:1px solid black;
    color:black;
    text-decoration: none;
}
a.small {
    padding-top:0px;
    padding-bottom:1px;
    padding-left:3px;
    padding-right:3px;
}
.row {
    position: relative;
    left: 0px;
    right: 0px;
    height: auto;
    vertical-align: middle;
}
.row > div {
    display: inline-block;
    vertical-align: middle;
}
.row.bottom {
    position: fixed;
    bottom: 0px;
    margin: 4px;
}
.row.bottom * {
    position: relative;
}
.bottom img {
    padding: 4px;
}
.bottom #applyButton {
    float: right;
}